.recipeContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  main {
    width: 90%;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 7rem;

    a > button {
      min-width: 250px;
      padding: 0.6rem 1.1rem;
      margin-top: 0.3rem;
      background: transparent;
      border-radius: 10px;
      border: 2px solid var(--orange-600);
      color: var(--orange-600);
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
