.perfilContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;
    gap: 1rem;
    margin-top: -10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }

    h2 {
      font-weight: 500;
    }

    button {
      min-width: 250px;
      padding: 0.6rem 1.1rem;
      margin-top: 0.3rem;
      background: transparent;
      border-radius: 10px;
      border: 2px solid var(--orange-600);
      color: var(--orange-600);
      font-style: normal;
      font-weight: bold;
      font-size: 1.3rem;
    }
    div {
      display: flex;
      gap: .5rem;
    }
  }
}
