.exploreIngContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  
  main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2rem 0 5rem;

    h3 {
      font-size: 1.5rem;
      margin-top: .5rem;
      width: 120px;
    }

    button {
      padding: 1rem;
      min-height: 200px;
      background: var(--orange-50);
      border-radius: 10px;
      border: 2px solid var(--orange-700);
      color: #121214;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

}