* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-50: #FEF9EF;
  --orange-100: #fce9df;
  --orange-200: #FBD38D;
  --orange-300: #fadfd1;
  --orange-400: #ED8936;
  --orange-500: #DD6B20;
  --orange-600: #ff5900;
  --orange-700: #9C4221;
  --orange-800: #7B341E;

  --enter-btn: #fbb86b;
  --foods-btn: #faaa7f;
  --menu-color: #020202;

  --background: linear-gradient(45deg, #f8a1b4, #ff8e53);

  --bg-button-1: linear-gradient(45deg, #fe6b8b, #fc6c1f);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%
  }
}


@media (max-width: 768px) {
  html {
    font-size: 87.5%
  }
}

body {
  background: var(--orange-50);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;

}

