.loginContainer {
  display: flex;
  height: 100vh;
  margin: auto;

  > div {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 4rem;
    text-align: center;

    span {
      font-weight: 500;
      font-size: 3rem;
      line-height: 35px;
      color: #121214;
    }

    label {
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 35px;
      color: #121214;
      display: flex;
      flex-direction: column;
  
      input {
        background: white;
        width: 90%;
        margin: auto;
        font-size: 1.3rem;
        border: 1px solid #121214;
        padding: .8rem;
        border-radius: 10px;
      }
    }

    label + label {
      margin-top: 2rem;
    }

    button {
      min-width: 250px;
      padding: .6rem 1.1rem;
      margin-top: .3rem;
      background: transparent;
      border-radius: 10px;
      border: 2px solid var(--orange-600);
      color: var(--orange-600);
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
