.categorias {
  width: 90%;
  max-width: 1100px;
  margin: auto;

  div {
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 1rem 0;

    button {
      width: 6rem;
      padding: 0.4rem 0.5rem;
      margin-top: 0.3rem;
      background: transparent;
      border-radius: 10px;
      border: 2px solid var(--orange-600);
      color: var(--orange-600);
      font-style: normal;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 480px) {
    display: flex;
    justify-content: center;

    div {
      button,
      button + button {
        width: 8rem;
        padding: 0.4rem 0.8rem;
        font-size: 1.3rem;
      }
    }
  }
}
